.screen-params {
    border: 2px solid aqua;
    border-radius: 10px;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.screen-number {
    border: 2px solid aqua;
    border-radius: 10px;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    color: aqua;
    font-size: 100px;
    font-weight: 800;
}

.text {
    color: aqua;
    font-size: 30px;
    font-weight: 800;
}
/*error Цифры*/
.error {
    color: red;
}


